/***************************************************************************//**
 * @file
 * @brief CS Application Co-Processor target - core implementation
 *******************************************************************************
 * # License
 * <b>Copyright 2026 Silicon Laboratories Inc. www.silabs.com</b>
 *******************************************************************************
 *
 * SPDX-License-Identifier: Zlib
 *
 * The licensor of this software is Silicon Laboratories Inc.
 *
 * This software is provided 'as-is', without any express or implied
 * warranty. In no event will the authors be held liable for any damages
 * arising from the use of this software.
 *
 * Permission is granted to anyone to use this software for any purpose,
 * including commercial applications, and to alter it and redistribute it
 * freely, subject to the following restrictions:
 *
 * 1. The origin of this software must not be misrepresented; you must not
 *    claim that you wrote the original software. If you use this software
 *    in a product, an acknowledgment in the product documentation would be
 *    appreciated but is not required.
 * 2. Altered source versions must be plainly marked as such, and must not be
 *    misrepresented as being the original software.
 * 3. This notice may not be removed or altered from any source distribution.
 *
 ******************************************************************************/

#include "sl_bt_api.h"
#include "cs_acp_target.h"

{%- set includes = [] -%} {# Deduplicate includes before printing #include statements -#}
{%- for handler in cs_acp_target_on_command %}
{%- if 'include' in handler and handler['include'] not in includes -%}
{%- if includes.append(handler['include']) %}{% endif -%}
{%- endif -%}
{%- endfor -%}
{%- for include in includes %}
#include "{{include}}"
{%- endfor %}

/*******************************************************************************
 * CS user command (message_to_target) handler callback.
 *
 * @brief Handle CS defined user commands received from NCP-host.
 *
 * @param[in] data Data received from NCP through UART.
 *
 * @note This overrides the default weak implementation.
 ******************************************************************************/
void sl_ncp_user_cs_cmd_message_to_target_cb(const void *data)
{
{% for handler in cs_acp_target_on_command %}
  {{ handler['handler'] }}(data);
{% endfor %}
}

// Respond to a CS command arriving from the ACP host.
void cs_acp_send_cmd_rsp(sl_status_t status, uint8_t data_len, uint8_t *data)
{
  sl_bt_send_rsp_user_cs_service_message_to_target((uint16_t)status,
                                                   data_len,
                                                   data);
}

// Sends the CS ACP host an event.
void cs_acp_send_evt(uint8_t *data, uint8_t data_len)
{
  sl_bt_send_evt_user_cs_service_message_to_host(data_len, data);
}
