/***************************************************************************//**
 * @file
 * @brief UART driver instances
 *******************************************************************************
 * # License
 * <b>Copyright 2026 Silicon Laboratories Inc. www.silabs.com</b>
 *******************************************************************************
 *
 * SPDX-License-Identifier: Zlib
 *
 * The licensor of this software is Silicon Laboratories Inc.
 *
 * This software is provided 'as-is', without any express or implied
 * warranty. In no event will the authors be held liable for any damages
 * arising from the use of this software.
 *
 * Permission is granted to anyone to use this software for any purpose,
 * including commercial applications, and to alter it and redistribute it
 * freely, subject to the following restrictions:
 *
 * 1. The origin of this software must not be misrepresented; you must not
 *    claim that you wrote the original software. If you use this software
 *    in a product, an acknowledgment in the product documentation would be
 *    appreciated but is not required.
 * 2. Altered source versions must be plainly marked as such, and must not be
 *    misrepresented as being the original software.
 * 3. This notice may not be removed or altered from any source distribution.
 *
 ******************************************************************************/
#include <stdint.h>
{% set uart_instances_it = (uart_instances | default([], true) | list) + (uart_async_instances | default([], true) | list) %}
{% set uart_async_instances_it = uart_async_instances | default([], true) | list %}
#include "sl_assert.h"
#include "sl_common.h"
#include "sl_device_peripheral.h"
#include "sl_device_uart.h"
#include "sl_status.h"
#include "sl_uart_instances.h"
{% for instance in uart_instances_it %}
#include "sl_uart_{{ instance }}_config.h"
{% endfor %}
#include "sl_uart.h"
#include "sli_uart.h"

#define SL_UART_PERIPHERAL(periph)        SL_CONCAT_PASTER_2(SL_PERIPHERAL_, periph)
#define SL_UART_RX_IRQHandler(periph)     SL_CONCAT_PASTER_2(periph, _RX_IRQHandler)
#define SL_UART_TX_IRQHandler(periph)     SL_CONCAT_PASTER_2(periph, _TX_IRQHandler)

// Low-level driver family a peripheral belongs to. Instance configurations spell their
// peripheral as a bare token (USART0, EUSART1, ...), so the family is resolved by pasting
// that token. Only usable where em_device.h is not included, since it redefines those
// names as typed base pointers.
#define SL_UART_LLD_EUSART                1
#define SL_UART_LLD_USART                 2

#define SL_UART_LLD_OF(periph)            SL_CONCAT_PASTER_2(periph, _SL_UART_LLD)

#define EUART0_SL_UART_LLD                SL_UART_LLD_EUSART
#define EUSART0_SL_UART_LLD               SL_UART_LLD_EUSART
#define EUSART1_SL_UART_LLD               SL_UART_LLD_EUSART
#define EUSART2_SL_UART_LLD               SL_UART_LLD_EUSART
#define EUSART3_SL_UART_LLD               SL_UART_LLD_EUSART
#define EUSART4_SL_UART_LLD               SL_UART_LLD_EUSART
#define USART0_SL_UART_LLD                SL_UART_LLD_USART
#define USART1_SL_UART_LLD                SL_UART_LLD_USART
#define USART2_SL_UART_LLD                SL_UART_LLD_USART
{% for instance in uart_instances_it %}

#if SL_UART_LLD_OF(SL_UART_{{ instance | upper }}_PERIPHERAL) == SL_UART_LLD_EUSART \
  && !defined(SL_CATALOG_UART_EUSART_PRESENT)
#error "UART instance '{{ instance }}' is configured on an EUSART peripheral. Add the uart_eusart component to the project."
#endif

#if SL_UART_LLD_OF(SL_UART_{{ instance | upper }}_PERIPHERAL) == SL_UART_LLD_USART \
  && !defined(SL_CATALOG_UART_USART_PRESENT)
#error "UART instance '{{ instance }}' is configured on a USART peripheral. Add the uart_usart component to the project."
#endif
{% endfor %}
{% for instance in uart_instances_it %}
sl_peripheral_t sl_uart_{{ instance }}_peripheral = SL_UART_PERIPHERAL(SL_UART_{{ instance | upper }}_PERIPHERAL);
sl_uart_handle_t sl_uart_{{ instance }}_handle;
{% if instance in uart_async_instances_it %}
const sl_uart_async_config_t sl_uart_{{ instance }}_async_config = SL_UART_ASYNC_CONFIG_DEFAULT;
{% endif %}

const sl_uart_pin_config_t sl_uart_{{ instance }}_pin_config = {
  .tx = { SL_UART_{{ instance | upper }}_TX_PORT, SL_UART_{{ instance | upper }}_TX_PIN },
  .rx = { SL_UART_{{ instance | upper }}_RX_PORT, SL_UART_{{ instance | upper }}_RX_PIN },
#if defined(SL_UART_{{ instance | upper }}_CTS_PORT) && defined(SL_UART_{{ instance | upper }}_CTS_PIN)
  .cts = { SL_UART_{{ instance | upper }}_CTS_PORT, SL_UART_{{ instance | upper }}_CTS_PIN },
#endif
#if defined(SL_UART_{{ instance | upper }}_RTS_PORT) && defined(SL_UART_{{ instance | upper }}_RTS_PIN)
  .rts = { SL_UART_{{ instance | upper }}_RTS_PORT, SL_UART_{{ instance | upper }}_RTS_PIN },
#endif
};

const sl_uart_config_t sl_uart_{{ instance }}_line_config = {
  .baudrate = SL_UART_{{ instance | upper }}_BAUDRATE,
  .parity = SL_UART_{{ instance | upper }}_PARITY,
  .stop_bits = SL_UART_{{ instance | upper }}_STOP_BITS,
  .data_bits = SL_UART_{{ instance | upper }}_DATA_BITS,
  .flow_control = SL_UART_{{ instance | upper }}_FLOW_CONTROL,
  .oversampling = SL_UART_{{ instance | upper }}_OVERSAMPLING
};

void SL_UART_RX_IRQHandler(SL_UART_{{ instance | upper }}_PERIPHERAL)(void)
{
  sli_uart_rx_irq_handler(&sl_uart_{{ instance }}_handle);
}

void SL_UART_TX_IRQHandler(SL_UART_{{ instance | upper }}_PERIPHERAL)(void)
{
  sli_uart_tx_irq_handler(&sl_uart_{{ instance }}_handle);
}

{% endfor %}
void sl_uart_instances_init(void)
{
  {%- if uart_instances_it %}
  sl_status_t status;

  {%- for instance in uart_instances_it %}
  status = sl_uart_init(&sl_uart_{{ instance }}_handle,
                        sl_uart_{{ instance }}_peripheral,
                        &sl_uart_{{ instance }}_pin_config,
                        {% if instance in uart_async_instances_it %}&sl_uart_{{ instance }}_async_config{% else %}NULL{% endif %});
  EFM_ASSERT(status == SL_STATUS_OK);

  status = sl_uart_configure_line(&sl_uart_{{ instance }}_handle,
                                  &sl_uart_{{ instance }}_line_config);
  EFM_ASSERT(status == SL_STATUS_OK);
  {%- endfor %}
  {%- endif %}
}
