#include "sl_cpc_drv_instances.h"

#include "sl_assert.h"
#include "sl_cpc_bus.h"
#include "sl_status.h"

{% set drv_instances_dict = {
  "mock": (cpc_ng_drv_mock_instances, cpc_ng_drv_mock_role_secondary),
  "sdio_device": (cpc_ng_drv_sdio_device_instances, cpc_ng_drv_sdio_device_role_secondary),
  "sdio_host": (cpc_ng_drv_sdio_host_instances, cpc_ng_drv_sdio_host_role_secondary),
  "spi_peripheral": (cpc_ng_drv_spi_peripheral_instances, cpc_ng_drv_spi_peripheral_role_secondary),
  "uart": (cpc_ng_drv_uart_instances, cpc_ng_drv_uart_role_secondary),
} -%}

{% for drv_name, drv_instances_role in drv_instances_dict.items() -%}
{% for instance in drv_instances_role.0 -%}
#include "sl_cpc_drv_{{ drv_name }}_{{ instance }}_config.h"
{%- endfor %}
{%- endfor %}

{% if cpc_ng_drv_sdio_host_instances|count > 0 -%}
#include "sl_sdhc_instances.h"
{%- endif %}

{% if cpc_ng_drv_uart_instances|count > 0 -%}
#include "sl_iostream_handles.h"
{%- endif %}

sl_status_t sl_cpc_drv_instances_init(void)
{
  sl_status_t status;

  {% for instance in cpc_ng_drv_mock_instances -%}
  static const sl_cpc_drv_mock_config_t sl_cpc_drv_mock_{{ instance }}_cfg = {
  };
  {%- endfor %}

  {% for instance in cpc_ng_drv_sdio_device_instances -%}
  static const sl_cpc_drv_sdio_device_config_t sl_cpc_drv_sdio_device_{{ instance }}_cfg = {
  };
  {%- endfor %}

  {% for instance in cpc_ng_drv_sdio_host_instances -%}
  const sl_cpc_drv_sdio_host_config_t sl_cpc_drv_sdio_host_{{ instance }}_cfg = {
    .sdio_handle = sl_sdhc_sdio_{{ instance }}_handle,
    .function_num = SL_CPC_DRV_SDIO_{{ instance | upper }}_FUNCTION_NUM,
    .block_size = SL_CPC_DRV_SDIO_{{ instance | upper }}_BLOCK_SIZE,
    .max_sd_freq = SL_CPC_DRV_SDIO_{{ instance | upper }}_MAX_SD_FREQ,
    .max_bus_width = SL_CPC_DRV_SDIO_{{ instance | upper }}_MAX_BUS_WIDTH,
    .max_speed_mode = SL_CPC_DRV_SDIO_{{ instance | upper }}_MAX_SPEED_MODE,
  };
  {%- endfor %}

  {% for instance in cpc_ng_drv_spi_peripheral_instances -%}
  static const sl_cpc_drv_spi_peripheral_config_t sl_cpc_drv_spi_peripheral_{{ instance }}_cfg = {
  };
  {%- endfor %}

  {% for instance in cpc_ng_drv_uart_instances -%}
  const sl_cpc_drv_uart_config_t sl_cpc_drv_uart_{{ instance }}_cfg = {
    .iostream = sl_iostream_{{ instance }}_handle,
    .iostream_uart = sl_iostream_uart_{{ instance }}_handle,
  };
  {%- endfor %}

  {% for drv_name, drv_instances_role in drv_instances_dict.items() -%}
  {% for instance in drv_instances_role.0 -%}
  static const sl_cpc_bus_config_t sl_cpc_bus_{{ drv_name }}_{{ instance }}_cfg = {
    .is_secondary = {{ (instance in drv_instances_role.1)|string|lower }},
    .rx_frame_pool_count = SL_CPC_DRV_{{ drv_name|upper }}_{{ instance|upper }}_RX_FRAME_POOL_COUNT,
    .tx_frame_pool_count = SL_CPC_DRV_{{ drv_name|upper }}_{{ instance|upper }}_TX_FRAME_POOL_COUNT,
  };
  {%- endfor %}
  {%- endfor %}

  {% for drv_name, drv_instances_role in drv_instances_dict.items() -%}
  {% for instance in drv_instances_role.0 -%}
  status = sl_cpc_drv_{{ drv_name }}_init(sl_cpc_drv_{{ drv_name }}_{{ instance }},
                                          &sl_cpc_drv_{{ drv_name }}_{{ instance }}_cfg,
                                          &sl_cpc_bus_{{ drv_name }}_{{ instance }}_cfg);
  EFM_ASSERT(status == SL_STATUS_OK);
  if (status != SL_STATUS_OK) {
    return status;
  }
  {%- endfor %}
  {%- endfor %}

  return SL_STATUS_OK;
}

{% for drv_name, drv_instances_role in drv_instances_dict.items() -%}
{% if drv_instances_role.0|count > 0 -%}
void sl_cpc_drv_{{ drv_name }}_instances_start_buses(void) {
  sl_status_t status;

  {% for instance in drv_instances_role.0 -%}
  status = sl_cpc_bus_start(sl_cpc_drv_{{ drv_name }}_get_bus(sl_cpc_drv_{{ drv_name }}_{{ instance }}));
  EFM_ASSERT(status == SL_STATUS_OK);
  if (status != SL_STATUS_OK) {
    return;
  }
  {%- endfor %}
}
{%- endif %}
{%- endfor %}
