#ifndef SL_CPC_BUS_INSTANCES_H
#define SL_CPC_BUS_INSTANCES_H

#include "sl_cpc_drv_instances.h"
#include "sl_status.h"
{% set bus_instances = [] -%}

{% set drv_instances_dict = {
  "mock": cpc_ng_drv_mock_instances,
  "sdio_device": cpc_ng_drv_sdio_device_instances,
  "sdio_host": cpc_ng_drv_sdio_host_instances,
  "spi_peripheral": cpc_ng_drv_spi_peripheral_instances,
  "uart": cpc_ng_drv_uart_instances,
} -%}

{% for drv_name, drv_instances in drv_instances_dict.items() -%}
{% for instance in drv_instances -%}
#define sl_cpc_bus_{{ drv_name }}_{{ instance }} (sl_cpc_drv_{{ drv_name }}_get_bus(sl_cpc_drv_{{ drv_name }}_{{ instance }}))
{%- set _ = bus_instances.append("sl_cpc_bus_" ~ drv_name ~ "_" ~ instance) %}
{%- endfor %}
{%- endfor %}

#define SL_CPC_BUS_INSTANCES_COUNT {{ bus_instances|count }}

{% if bus_instances|count > 0 -%}
#define g_bus {{ bus_instances|first }}
{%- endif %}

#endif /* SL_CPC_BUS_INSTANCES_H */
